<header>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./inserir">Inserir</a></li>
            <li><a href="./select">Select</a></li>
            <li><a href="./login">Entrar</a></li>
        </ul>
    </nav>
</header>

<div class="__table">
<table>
    <caption>Seleção de Produtos Cadastrados</caption>

    <thead>
        <tr>
            <td>Opções</td>
            <td>Id</td>
            <td>Nome</td>
            <td>Categoria</td>
            <td>Preco</td>
        </tr>
    </thead>   

    <tbody>
        {{#data}}
        <tr>
            <td>
                <a href="del/{{ id }}" class="deletar">Del</a> | 
                <a href="update/{{ id }}">Update</a>
            </td>
            <td>{{ id }}</td>
            <td>{{ nome }}</td>
            <td>{{ categoria }}</td>
            <td>{{ preco }}</td>
        </tr>
        {{/data}}
    </tbody>

    <tfoot>
        <tr>
            <td>Dev Isaque Menezes </td>
        </tr>
    </tfoot>

</table>
</div>